<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easypan.mappers.FileInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.easypan.entity.po.FileInfo">
        <id column="file_id" property="fileId" />
        <result column="user_id" property="userId" />
        <result column="file_pid" property="filePid" />
        <result column="file_name" property="fileName" />
        <result column="file_suffix" property="fileSuffix" />
        <result column="file_size" property="fileSize" />
        <result column="is_folder" property="isFolder" />
        <result column="file_md5" property="fileMd5" />
        <result column="file_url" property="fileUrl" />
        <result column="cover_url" property="coverUrl" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
        <result column="last_op_time" property="lastOpTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        file_id, user_id, file_pid, file_name, file_suffix, file_size, is_folder, file_md5, file_url, cover_url, status, create_time, update_time, delete_time, last_op_time
    </sql>

</mapper>
